<!-- footer -->
<div id="footer" class="">
    <div class="d-flex flex-wrap">
        <div class="footer-data flex-grow-1">
            <h5>INFORMATION</h5>
            <br>
            <p>
                <a href="#">
                Contact us
            </a>
            </p>
            <p>
                <a href="#">
                Exchange and Refund
            </a>
            </p>
            <p>
                <a href="#">
                Privacy Policy
            </a>
            </p>
            <p>
                <a href="#">
                Terms and conditions
            </a>
            </p>
        </div>
        <div class="footer-data flex-grow-1 align-items-start">
            <h5>FOLLOW US </h5>
            <a href="#"><i class="fa fa-instagram fa-2x fa_custom"></i></a>
            <a href="#"><i class="fa fa-facebook fa-2x fa_custom"></i></a>
        </div>
    </div>
    <div class="footer-copyright">
        <p> <small> © 2020 Tkastores. Designed by <a href="#">Sangeeta & Sharmin</a></small></p>
    </div>
</div>
</body>

</html>