<%- include("partials/header") -%>

    <div class="container" id="blog-page">
        <div class="banner-caption">
            <h1>AMAZING PLACES ON EARTH</h1>
            <p>I Love Travelling</p>
        </div>
        <div class="mt-5 text-center blog-page-banner">
            <!-- <img src="photos/blogc2.jpg" alt="blog" class="img-fluid"> -->
        </div>
        <div class="row text-center mt-5 blog-small-img">
            <div class="col-sm-12 col-lg-4">
                <img src="photos/b1.jpg" alt="">
                <div class="p-3">
                    <h5>Title</h5>
                    <p>
                        The content Lorem Ipsum is simply dummy text of the printing and typesetting
                    </p>
                </div>
            </div>

            <div class="col-sm-12 col-lg-4">
                <img src="photos/b1.jpg" alt="">
                <div class="p-3">
                    <h5>Title</h5>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <img src="photos/b1.jpg" alt="">
                <div class="p-3">
                    <h5>Title</h5>
                    <p>
                        The content Lorem Ipsum is simply dummy text of the printing and typesetting
                    </p>
                </div>
            </div>
        </div>

        <div class="row blog-post">
            <h2>LATEST ONES</h2>
            <div class="row mb-5">
                <div class="col-sm-12 col-lg-6">
                    <img class="blog-post-img" src="photos/b2.jpg" alt="">
                </div>
                <div class="col-sm-12 col-lg-6">
                    <h2>Title</h2>
                    <p>Aug 23, 2020</p>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type...
                    </p>
                    <button class="btn btn-dark">Read more <i class="fa fa-long-arrow-right"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <img class="blog-post-img" src="photos/b2.jpg" alt="">
                </div>
                <div class="col-sm-12 col-lg-6">
                    <h2>Title</h2>
                    <p>july 13, 2020</p>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type...
                    </p>
                    <button class="btn btn-dark">Read more <i class="fa fa-long-arrow-right"></i></button>
                </div>
            </div>
        </div>


    </div>


    <%- include("partials/footer") -%>