
<%- include("partials/header") -%>

<div class="container mt-5 text-center jumbotron jumbotron-fluid">
    <h1 class="mb-5 lead">Sorry, Something went wrong with the Payment procedure 😥</h1>
    <p>Please try again after a while.</p>
    <a href="/" role="button" class="btn btn-primary"> Back to Home </a>
</div>
<%- include("partials/footer") -%>