<%- include("partials/header") -%>
    <div class="container-fluid">
        <div class="container">
            <div class="row p-5 text-center">
                <div class="col">
                    <div class="card border-0">
                        <img class="" src="photos/product.jpg " alt="product-img ">
                        <div class="card-body ">
                            <p class="card-text ">
                                <span class="font-weight-bold ">Black t-shirt</span> <br>
                                <small>Rs. 499</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0">
                        <img src="photos/product.jpg " alt="product-img ">
                        <div class="card-body ">
                            <p class="card-text ">
                                <span class="font-weight-bold ">Black t-shirt</span> <br>
                                <small>Rs. 499</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0">
                        <img src="photos/product.jpg " alt="product-img ">
                        <div class="card-body ">
                            <p class="card-text ">
                                <span class="font-weight-bold ">Black t-shirt</span> <br>
                                <small>Rs. 499</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0">
                        <img src="photos/product.jpg " alt="product-img ">
                        <div class="card-body ">
                            <p class="card-text ">
                                <span class="font-weight-bold ">Black t-shirt</span> <br>
                                <small>Rs. 499</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0">
                        <img src="photos/product.jpg " alt="product-img ">
                        <div class="card-body ">
                            <p class="card-text ">
                                <span class="font-weight-bold ">Black t-shirt</span> <br>
                                <small>Rs. 499</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/footer") -%>