<%- include("partials/header") -%>

    <div class="container search">
        <div class="row mt-5">
            <div class="col-lg-6 col-md-6 col-sm-12 text-center mt-4">
                <h4>SEARCH RESULTS</h4>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-center mt-3">
                <input type="text" name="">
                <button class="btn" type="button" name="button">
            <div class="search-icon">
               <i class="fa fa-search"></i>
            </div>
            </button>
            </div>
        </div>
    </div>



    <%- include("partials/footer") -%>