
<%- include("partials/header") -%>

<div class="container mt-5 text-center jumbotron jumbotron-fluid">
    <h1 class="mb-5 display-4">Thanks for your order! 🙂</h1>
    <p class="lead">
        We appreciate you chose tkastores for shopping!
        If you have any questions, please email
        <a href="mailto:orders@example.com">orders@example.com</a>.
    </p>
</div>
<%- include("partials/footer") -%>