/* ----------GENERAL STYLING----------  */

html {
    overflow-x: hidden;
}

body {
    font-family: 'Karla', sans-serif;
}


/* ----------NAVBAR STYLING----------  */


/* ----------CAROUSEL STYLE----------  */


/* .carousel-caption {
    text-align: left;
}*/

.carousel-caption h2 {
    background-color: #006eff;
    width: 300px;
    padding: 12px 25px;
    letter-spacing: 3px;
}

.carousel-caption h5 {
    background-color: white;
    margin-bottom: 6rem;
    width: 180px;
    padding: 8px 10px;
    letter-spacing: 2px;
}

.carousel-caption h5 a {
    color: black;
    text-decoration: none
}


/* ----------FOOTER STYLING----------  */

#footer {
    margin-top: 400px;
    text-align: left;
    height: auto;
    background-color: #000000;
    color: white;
}

#footer p {
    color: #909898;
}

#footer a {
    color: #909898;
    text-decoration: none;
}

#footer a:hover {
    color: white;
}

#footer i:hover {
    color: white;
}

.footer-data {
    text-align: left;
    padding: 50px 60px;
}

.fa_custom {
    color: #909898;
    padding: 10px;
}

.footer-copyright {
    text-align: center;
    padding: 15px 50px;
}

.footer-copyright p {
    margin-bottom: 0;
}

.footer-copyright a {
    color: #909898;
}

.footer-copyright a:hover {
    color: #909898;
    text-decoration: underline;
}


/* ----------INDEX PAGE STYLING---------- */

img {
    height: 15rem;
}


/* -------------------------------------------------------------------------------------- */


/* product information page styling */

.product-page {
    padding: 100px 0;
}

.small-images img {
    margin-bottom: 20px;
    height: 100px;
    opacity: 0.8;
    cursor: pointer;
}

.big-image {
    height: 500px;
}

.product-details {
    color: #666;
    letter-spacing: 2px;
}

.product-details h2 {
    font-family: 'Karla', sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: black;
}

.product-details select {
    padding: 10px 20px;
    background-color: #eee;
    border: 0;
}

.product-details input {
    background-color: #eee;
    padding: 10px;
    border: 0;
}

.product-details button {
    letter-spacing: 2px;
}

.product-description {
    line-height: 2;
    margin: 100px 0;
}


/* .reviews {
    margin-top: 100px;
} */

.reviews i {
    margin-left: 5px;
}

.reviews a {
    margin-left: 20px;
}


/* .peoples-reviews {
    margin-bottom: 150px;
} */

.stars {
    color: #ffc60b;
}

.peoples-reviews h6 {
    margin-top: 40px;
    font-weight: 700;
}

.product-recommendation {
    letter-spacing: 2px;
}

.product-recommendation img {
    height: 250px;
}

@media only screen and (max-width: 700px) {
    .big-image {
        height: 310px;
    }
    .small-images img {
        height: 75px;
    }
}